<div class="align-middle"><br><br>
<%= bootstrap_form_for :session, url: session_path do |form| %>
  <div class="text-field">
    <%= form.text_field :email, type: 'email' %>
  </div>

  <div class="password-field">
    <%= form.password_field :password %>
  </div>

  <div class="submit-field">
    <%= form.submit %>
  </div>


<% end %>
</div>
